{% extends 'base.html' %}
{% block content %}
<h1>Snapstore</h1>

<h5>Name: </h5>
<p>{{ name }}</p> 
<h5>NPM: </h5>
<p>{{ npm }}</p> 
<h5>Class: </h5>
<p>{{ class }}</p> 

{% if not item_entries %}
<p>Belum ada data barang pada Snapstore.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% for item_entry in item_entries %}
  <tr>
    <td>{{item_entry.name}}</td>
    <td>{{item_entry.price}}</td>
    <td>{{item_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_item_entry' %}">
  <button>Add New Item</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}